        <script src="https://kit.fontawesome.com/9d726f1de9.js" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/components.js"></script>
        <script src="/js/ejs.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>
