<nav id="navbar">
    <a class="app-brand" href="/"><span>Watch</span><span>App</span></a>

    <div>
        <img
            src="/images/default_user_image.jpg"
            alt="Profile Picture"
            class="profile-picture"
        />
    </div>
</nav>
