 <ul>
    <li><a href="/friends">All Friends</a></li>
    <li><a href="/friends/requests">Friend Requests</a></li>
    <li><a href="/friends/sentRequests">Sent Requests</a></li>
    <li><a href="/friends/requests/add">Add Friend</a></li>
</ul>