<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/all.css" />
        <link rel="stylesheet" href="css/chat.css" />
        <title>Document</title>
    </head>
    <body>
        <nav id="navbar">
            <a class="app-brand" href="/"><span>Watch</span><span>App</span></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Chat</a></li>
                <li><a href="">Watch</a></li>
            </ul>
            <div>
                <img
                    src="images/default_user_image.jpg"
                    alt="Profile Picture"
                    class="profile-picture"
                />
            </div>
        </nav>
        <main>
            <section id="chat-list-section">
                <div>
                    <h1 class="text-shadow">Friends <span></span></h1>
                    <button class="btn-default btn-color box-shadow">
                        +Create New Chat
                    </button>
                </div>
                <div>
                    <input type="text" placeholder="Search" />
                </div>
                <div id="chat-list">
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>Most of its text is made up from section</p>
                        </div>
                    </div>

                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                    <div class="chat-list-item">
                        <div>
                            <img
                                src="images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span>Luy Robin <span>...writes</span></span>
                                <small class="time-ellapsed">1 min ago</small>
                            </div>
                            <p>
                                Most of its text is made up from section
                                ssssssssssssssssssssssssssssssssssssssss ssssss
                                aaaaaaaaaaa
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##################################################################################################################################################################################################################################################################################################### -->
            <section id="chat-section">
                <div>
                    <div>
                        <img
                            src="images/default_user_image.jpg"
                            alt="Profile Picture"
                            class="profile-picture"
                        />
                        <div>
                            <span>Luy Robin</span>
                            <small>1 min ago</small>
                        </div>
                    </div>
                    <div>
                        <button class="btn-round">
                            <i class="fas fa-paperclip"></i>
                        </button>
                        <button class="btn-round">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
                <div id="chat-box">
                    <div>
                        <div class="chat-message-block">
                            <div>
                                <img
                                    src="images/default_user_image.jpg"
                                    alt="Profile Picture"
                                    class="profile-picture"
                                />
                                <div class="chat-message-box">
                                    <p>
                                        Hello! Finally found the time to write
                                        to you) I need your help in creating
                                        interactive animations for my mobile
                                        application.
                                    </p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="chat-message-block">
                            <div>
                                <img
                                    src="images/default_user_image.jpg"
                                    alt="Profile Picture"
                                    class="profile-picture"
                                />
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="chat-message-block">
                            <div>
                                <img
                                    src="images/default_user_image.jpg"
                                    alt="Profile Picture"
                                    class="profile-picture"
                                />
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="user-message-block">
                            <div>
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="user-message-block">
                            <div>
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="user-message-block">
                            <div>
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="user-message-block">
                            <div>
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="user-message-block">
                            <div>
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="user-message-block">
                            <div>
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                        <div class="user-message-block">
                            <div>
                                <div class="chat-message-box">
                                    <p>Can i send you files?</p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="time-ellapsed">4 min ago</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form action="">
                            <input
                                type="text"
                                placeholder="Type a message here"
                            />
                            <button class="btn-round btn-color">
                                <i class="fas fa-location-arrow"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            <section id="chat-options-section"></section>
        </main>
        <script
            src="https://kit.fontawesome.com/a076d05399.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
