<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/all.css" />
        <link rel="stylesheet" href="css/home.css" />
        <title>Document</title>
    </head>
    <body>
        <nav id="navbar">
            <a class="app-brand" href="/"><span>Watch</span><span>App</span></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="">Watch</a></li>
            </ul>
            <div>
                <img
                    src="images/default_user_image.jpg"
                    alt="Profile Picture"
                    class="profile-picture"
                />
            </div>
        </nav>
        <header>WELCOME @<span>Potito</span></header>
        <main>
            <section>
                <form action="">
                    <button class="main-options">
                        <i class="fa fa-film"></i>
                    </button>
                    <span>Host Movie Group</span>
                </form>
                <form action="">
                    <button class="main-options">
                        <i class="far fa-plus-square"></i>
                    </button>
                    <span>Join Movie Group</span>
                </form>
                <form action="">
                    <button class="main-options">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                    <span>Schedule Movie Group</span>
                </form>
                <form action="">
                    <button class="main-options">
                        <i class="far fa-comment-dots"></i>
                    </button>
                    <span>Chat With Friends</span>
                </form>
            </section>
        </main>
        <script
            src="https://kit.fontawesome.com/a076d05399.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
