<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/all.css" />
        <link rel="stylesheet" href="css/home.css" />
        <title>WatchApp</title>
    </head>
    <body>
        <%- include('partials/navbar') %>

        <header>WELCOME @<span><%= username %> </span></header>
        <main>
            <section>
                <div>
                    <button class="main-options" onclick="location.href='/r'">
                        <i class="fa fa-film"></i>
                    </button>
                    <span>Host Movie Group</span>
                </div>
                <div>
                    <button class="main-options">
                        <i class="far fa-plus-square"></i>
                    </button>
                    <span>Join Movie Group</span>
                </div>
                <div>
                    <button class="main-options">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                    <span>Schedule Movie Group</span>
                </div>
                <div>
                    <button class="main-options" onclick="location.href='/chat'">
                        <i class="far fa-comment-dots"></i>
                    </button>
                    <span>Chat With Friends</span>
                </div>
            </section>
        </main>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </body>
</html>
