* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    background-color: #222831;
}

body {
    width: 100%;
    height: 100vh;
}

h1 {
    color: #eee;
}

/* WATCH APP LOGO */

.app-brand {
    display: flex;
    justify-content: center;
}

.app-brand > * {
    text-shadow: 2.5px 2.5px 5px black;
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
}

.app-brand > :first-child {
    color: #d55a31;
}

.app-brand > :last-child {
    color: #6d2bd9;
}

/* FORM GROUP */

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group > input {
    padding: 0.5em;
    margin-top: 0.4em;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}

/* DEFAULT BUTTONS */

.btn-default {
    background-color: #6d2bd9;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    color: #eee;
    font-weight: 600;
    font-size: 1.25rem;
}

.btn-default:hover {
    cursor: pointer;
    background-color: rgb(99, 33, 207);
}

.btn-default:active {
    background-color: rgb(89, 23, 197);
}

/* NAVBAR */

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #393e46;
    padding: 0.25rem 1rem;
    box-shadow: 2px 2px 4px black;
}

#navbar > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 8em;
}

#navbar > ul > li {
    margin: 0 1.5em;
}

#navbar > ul > li > a {
    color: #eee;
    font-size: 1.5rem;
    font-weight: 600;
}

#navbar > ul > li > a:hover {
    color: #d55a31;
}

#navbar > div {
    display: flex;
    align-items: center;
}

/* PROFILE PICTURES */

.profile-picture {
    height: 2.5rem;
    border-radius: 50%;
}

.profile-picture:hover {
    cursor: pointer;
}
