* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    background-color: #222831;
}

body {
    width: 100%;
    height: 100vh;
}

h1 {
    color: #eee;
    font-size: 1.5rem;
    font-weight: 600;
}

button {
    background-color: #eee;
    color: #222831;
}

button:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}

button:active {
    background-color: rgb(198, 198, 198);
}

input:focus {
    outline: none;
}

.text-shadow {
    text-shadow: 2px 2px 4px black;
}

.box-shadow {
    box-shadow: 2px 2px 4px black;
}

.time-ellapsed {
    color: #707c97;
    font-size: 0.6rem;
    font-weight: 600;
}

.active {
    color: #6d2bd9 !important;
}

.highlight-text {
    color: #d55a31 !important;
}

.highlight-bg {
    background-color: #393e46;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background-color: #787a91;
    border-radius: 10px;
}

/* WATCH APP LOGO */

.app-brand {
    display: flex;
    justify-content: center;
}

.app-brand > * {
    text-shadow: 2.5px 2.5px 5px black;
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
}

.app-brand > :first-child {
    color: #d55a31;
}

.app-brand > :last-child {
    color: #6d2bd9;
}

/* FORM GROUP */

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group > input {
    padding: 0.5em;
    margin-top: 0.4em;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}

/* DEFAULT BUTTONS */

.btn-default {
    border: none;
    border-radius: 4px;
    padding: 0.75em;
    font-weight: 600;
    font-size: 1rem;
}

.btn-round {
    border: none;
    border-radius: 50px;
    width: 2.5em;
    height: 2.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-round > i {
    font-size: 1rem;
}

.btn-color {
    background-color: #6d2bd9;
    color: #eee;
}

.btn-color:hover {
    background-color: rgb(99, 33, 207);
}

.btn-color:active {
    background-color: rgb(89, 23, 197);
}

/* NAVBAR */

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #393e46;
    padding: 0.25rem 1rem;
    box-shadow: 2px 2px 4px black;
    position: relative;
    top: 0;
}

#navbar > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 8em;
}

#navbar > ul > li {
    margin: 0 1.5em;
}

#navbar > ul > li > a {
    color: #eee;
    font-size: 1.5rem;
    font-weight: 600;
}

#navbar > ul > li > a:hover {
    color: #d55a31;
}

#navbar > div {
    display: flex;
    align-items: center;
}

/* PROFILE PICTURES */

.profile-picture {
    height: 2.5rem;
    border-radius: 50%;
}

.profile-picture:hover {
    cursor: pointer;
    opacity: 85%;
}

/* SEARCH */

#search-user-form {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}

#search-user-form > label {
    font-size: 1.2rem;
    color: #d55a31;
}

#search-user-form > div:last-child {
    position: relative;
    width: 15rem;
}

#search-user-form > div > input {
    width: 100%;
    border: none;
    background-color: #222831;
    color: #eee;
    font-size: 1rem;
}

#search-user-form > div > ul {
    position: absolute;
    top: 1.8em;
    width: 100%;
    background-color: #eee;
    max-height: 15rem;
    overflow-y: scroll;
}

#search-user-form > div > ul > li {
    padding: 0.3em 0.5em;
    display: flex;
    align-items: center;
    gap: 0.75em;
}

#search-user-form > div > ul > li:hover {
    cursor: pointer;
    background-color: #d55a31;
}

#search-user-form > div > ul > li:focus {
    background-color: #d55a31;
}

#search-user-form > div > ul > li > img {
    width: 2rem;
    height: 2rem;
}

#search-user-form > div > ul > li > span {
    font-size: 0.9rem;
    font-weight: 600;
}

/* TAGS */

.tags {
    background-color: #6d2bd9;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.25em;
    gap: 0.2em;
}

.tags > span {
    font-size: 1rem;
    font-weight: 600;
}

.tags > button {
    border: none;
    border-radius: 50px;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #6d2bd9;
}

.tags > button:hover {
    background-color: rgb(99, 33, 207);
}

.tags > button:active {
    background-color: rgb(89, 23, 197);
}

.tags > button > i {
    font-size: 1.25rem;
    display: inline-block;
}
